#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  color: green;
  font-size: 3rem;
  font-style: italic;
}

.notification {
  color: red;
  background-color: beige;
  border-style: solid;
  border-radius: 0.5rem;
  border-color: red;
  border-width: 0.1rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.note {
  padding-top: 0.3rem;
}
.note-important {
  padding-top: 0.3rem;
  font-size: large;
  color: red;
}

.toggle-show-button {
  background-color: blue;
}

.toggle-importance-button {
  background-color: rgb(65, 65, 65);
  padding: 0.3rem;
  margin-left: 1rem;
}

.error {
}
